/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


# ==============================================
# INSTRUÇÕES PARA CONFIGURAÇÃO DO PROJETO
# ==============================================
# Após clonar o projeto, execute o comando:
# php artisan storage:link
#
# Isso criará um link simbólico para a pasta "storage/app/public"
# permitindo o acesso público a arquivos armazenados.
